.homepage {
  display: flex;
  height: 100%;
}

.homepage .textContainer {
  flex: 3;
}

.homepage .textContainer .wrapper {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: 100%;
}

@media (max-width: 992px) {
  .homepage .textContainer .wrapper {
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .homepage .textContainer .wrapper {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .homepage .textContainer .wrapper {
    justify-content: flex-start;
  }
}

.homepage .textContainer .wrapper .title {
  font-size: 64px;
}

@media (max-width: 992px) {
  .homepage .textContainer .wrapper .title {
    font-size: 48px;
  }
}

.homepage .textContainer .wrapper .boxes {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .homepage .textContainer .wrapper .boxes {
    display: none;
  }
}

.homepage .textContainer .wrapper .boxes h1 {
  font-size: 36px;
}

@media (max-width: 992px) {
  .homepage .textContainer .wrapper .boxes h1 {
    font-size: 32px;
  }
}

.homepage .textContainer .wrapper .boxes h2 {
  font-size: 20px;
  font-weight: 300;
}

.homepage .imgContainer {
  flex: 2;
  background-color: #fcf5f3;
  position: relative;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .homepage .imgContainer {
    display: none;
  }
}

.homepage .imgContainer img {
  width: 100%;
  height: 99.5%;
}

@media (max-width: 992px) {
  .homepage .imgContainer img {
    width: 105%;
  }
}
