.registerPage {
  height: 100%;
  display: flex;
}
.registerPage .formContainer {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerPage .formContainer form {
  display: flex;
  flex-direction: column;
  display: 20px;
}
.registerPage .formContainer input {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
.registerPage .formContainer button {
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.registerPage .formContainer span {
  color: rgba(255, 0, 0, 0.591);
}
.registerPage .formContainer a {
  font-size: 14px;
  color: gray;
  border-bottom: 1px solid gray;
  width: max-content;
}
.imgContainer {
  flex: 2;
  background-color: #fcf5f3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerPage .imgContainer img {
  width: 100%;
}
